@using Microsoft.Web.Mvc.Html
@using Web.Models.UnitComplectation;
@model  UnitComplectationIndexModel

@{
    ViewBag.Title = "Формуляр ПТВ";
}

@Html.HiddenFor(model => model.UnitId)

    <div class="row">
        <div class="col-lg-12" id="unitComplectation">
            @Html.Action("UnitComplectationTablePartial", new RouteValueDictionary { { "unitId", Model.UnitId } })
        </div>

        <div class="col-sm-12">
            <a class="btn btn-info pull-right" href=@Url.Action("Index", "Movement",  new { unitId = Model.UnitId })>
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
                История передвижений
            </a>
        </div>

    </div>

    @section Scripts
{
        <script src="@Url.Content("~/Scripts/plugins/treegrid/jquery.treegrid.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/plugins/treegrid/jquery.treegrid.bootstrap3.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.cookie-1.4.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Views/UnitComplectation/UnitComplectation.js")" type="text/javascript"></script>
    }