@using Microsoft.Web.Mvc.Html
@using Web.Models.UnitComplectation;
@model  UnitComplectationIndexModel

@{
    ViewBag.Title = "Формуляр ПТВ";
}

@Html.HiddenFor(model => model.UnitId)

    <div class="row">
        <div class="col-lg-12" id="unitComplectation">
            @Html.Action("UnitComplectationTablePartial", new RouteValueDictionary { { "unitId", Model.UnitId } })
        </div>

        <div class="col-sm-12">
            <a class="btn btn-info pull-right" href=@Url.Action("Index", "Movement",  new { unitId = Model.UnitId })>
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
                История передвижений
            </a>
        </div>

    </div>

    @section Scripts
{
        <script src="@Url.Content("~/Scripts/plugins/treegrid/jquery.treegrid.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/plugins/treegrid/jquery.treegrid.bootstrap3.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.cookie-1.4.1.min.js")" type="text/javascript"></script>
        
        <script>
            $(document).ready(function () {
                applyTreeGreed();
                setInterval(updateTable, 60 * 1000);
            });

            function applyTreeGreed() {
                $("#tree").treegrid({
                    'initialState': 'collapsed',
                    'saveState': true
                });
                //$("#tree").treegrid("collapseAll");
            }

            function updateTable() {
                $.get("/UnitComplectation/UnitComplectationTablePartial", { unitId: $('#UnitId').val() }, function (result) {
                    if (result) {
                        $("#unitComplectation").html(result);
                        applyTreeGreed();
                    } else {
                        alert("Ошибка при обновлении таблицы");
                    }
                });
            }
        </script>
    }