@model List<Web.Models.EquipmetGroup.EquipmentGroupModel>

@section Scripts
{
}
<div class="row">
    <div class="col-md-4">
        <table id="tree"
               class="table table-bordered table-hover tree">
            <thead>
                <tr>
                    <th>Группа оборудования</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                string parent = "treegrid-parent-" + (item.ParentId.HasValue ? item.ParentId.ToString() : string.Empty);
                    <tr class="treegrid-@item.Id @parent" data-id="@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="fa fa-navicon fa-fw"></span>
                                    Действие <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a rel="tooltip" title="Изменить запись в справочнике" onclick="OnEdit(@item.Id)" href="#">
                                            <i class="fa fa-edit fa-fw"></i> Редактировать
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="tooltip" title="Удалить запись из справочника" onclick="OnDelete(@item.Id)" href="#">
                                            <i class="fa fa-trash-o fa-fw"></i> Удалить
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-8" id="list-partial">

    </div>
</div>
