@model Web.Models.FilterMovementModel

@{
    ViewBag.Title = "Движения по складу";
}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding: 10px 15px;">
                Фильтр
            </div>
            <div class="panel-body">
                @using (Ajax.BeginForm("List", "Movement", null, new AjaxOptions { UpdateTargetId = "movements", OnBegin = "spinner.start", OnSuccess = "spinner.stop", OnFailure = "onFail", InsertionMode = InsertionMode.Replace }))
            {
                    @Html.HiddenFor(x => x.UnitId)
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.DropDownListFor(model => model.EquipmentId, Model.EquipmentList as SelectList, "- выберите оборудование -", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EquipmentId)
                        </div>

                        <div class="input-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <span class="input-group-addon">Дата начала </span>
                                    <div class="input-group-addon">
                                        @Html.TextBoxFor(model => model.DtBegin, "{0:d.MM.yyyy}", new { @class = "input-group datepicker", id = "DtBegin" })
                                        @Html.ValidationMessageFor(model => model.DtBegin)
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <span class="input-group-addon">Дата окончания</span>
                                    <div class="input-group-addon">
                                        @Html.TextBoxFor(model => model.DtEnd, "{0:d.MM.yyyy}", new { @class = "input-group datepicker", id = "DtEnd" })
                                        @Html.ValidationMessageFor(model => model.DtBegin)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-default pull-left">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                Найти
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="movements">
    @{Html.RenderAction("List", "Movement", Model);}
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            var d = new Date();

            var currDate = d.getDate();
            var currMonth = d.getMonth();
            var currYear = d.getFullYear();

            var dateStr = currDate + "-" + currMonth + "-" + currYear;
            $("#DtEnd").datepicker(({ dateFormat: "dd-mm-yy", autoclose: true, defaultDate: dateStr }));
            var dateStr2 = (currDate - 5) + "-" + currMonth + "-" + currYear;
            $("#DtBegin").datepicker(({ dateFormat: "dd-mm-yy", autoclose: true, defaultDate: dateStr2 }));

        });
    </script>
}


