@model Web.Models.FilterMovementModel

@{
    ViewBag.Title = "Движение оборудования";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding: 10px 15px;">
                Фильтр
            </div>
            <div class="panel-body">
                @using (Ajax.BeginForm("List", "Movement", null, new AjaxOptions { UpdateTargetId = "movements", OnBegin = "spinner.start", OnSuccess = "spinner.stop", OnFailure = "onFail", InsertionMode = InsertionMode.Replace }))
                {
                    @Html.HiddenFor(x => x.UnitId)


                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.EquipmentId, Model.EquipmentList as SelectList, "- выберите оборудование -", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EquipmentId)
                    </div>

                    <div class="input-group">
                        <div class="col-sm-6">
                            <span class="input-group-addon">Дата начала </span>
                            <div class="input-group-addon">
                                @Html.TextBoxFor(model => model.DtBegin, new { @class = "input-group date", id = "DtBegin" })
                                @Html.ValidationMessageFor(model => model.DtBegin)
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <span class="input-group-addon">Дата окончания</span>
                            <div class="input-group-addon">
                                @Html.TextBoxFor(model => model.DtEnd, new { @class = "input-group date", id = "DtEnd" })
                                @Html.ValidationMessageFor(model => model.DtEnd)
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-default pull-left">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            Найти
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="movements">
    @{Html.RenderAction("List", "Movement", Model);}
</div>

@section Scripts
{    
    <script type="text/javascript">
        $(function () {
            $('.date').datetimepicker({
                format: "DD.MM.YYYY",
                minDate: "01/01/2000"
            });
        });
    </script>
}