@model Web.Models.Unit.UnitInfoModel

<div class="row">
    <div class="col-lg-12">
        <h3>Уникальное оборудование</h3>
        <table id="UniqEquipmentObjectTable" class=" table table-bordered">
            <tr>
                <th>
                    Тип
                </th>
                <th>
                    Оборудование
                </th>
                <th>
                    Описание/Примечание
                </th>
            </tr>

            @foreach (var item in Model.UniqEquipmentObjectList)
            {
                string className;
                switch (item.ColorForAppearance)
                {
                    case 1: className = "success"; break;
                    case 3: className = "danger"; break;
                    case 4: className = "warning"; break;
                    default: className = ""; break;
                }
                <tr class="@className">
                    <td>
                        @Html.DisplayFor(modelItem => item.EquipmentGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EquipmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EquipmentDescription)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <h3>Не уникальное оборудование</h3>
        <table id="NonUniqEquipmentObjectTable" class=" table table-bordered">
            <tr>
                <th>
                    Тип
                </th>
                <th>
                    Оборудование
                </th>
                <th>
                    Описание/Примечание
                </th>
                <th>
                    Кол-во
                </th>
            </tr>

            @foreach (var item in Model.NonUniqEquipmentObjectList)
            {
                string className;
                switch (item.ColorForAppearance)
                {
                    case 1: className = "success"; break;
                    case 3: className = "danger"; break;
                    case 4: className = "warning"; break;
                    default: className = ""; break;
                }
                <tr class="@className">
                    <td>
                        @Html.DisplayFor(modelItem => item.kEquipmentGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.kEquipmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.kEquipmentDescription)
                    </td>
                    <td>
                        @item.RealCount.ToString() / @item.Count.ToString()
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
