<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial("_html5shiv")
    <meta name="author" content="InitCenter" />
    <meta name="description" content="Клиентское приложение" />
    <meta name="keywords" content="Пример работ" />
    <meta name="application-name" content="МЧС BLE" />
    @Html.Partial("_FontsPartial")
    @Styles.Render("~/cssBundles")
    @Html.Partial("_IconsPartial")
</head>
<body>
    <section id="content">
        <div class="wrapper">
            <div class="container-fluid">
                @Html.Partial("_validationSummary")
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
        </div>
    </section>
</body>
</html>